.hello{

}

body{
	text-align: center;
	background-color: #0077b4;
	font-family: 'Arvo';
	color: #FFF;
}


.button{
	margin: 10px;
	width: 75%;
	height: 50px;
	border-radius: 4px;
	font-size: 20px;
}

.button:hover{

}
#connectionstest{
	text-align: center;
}

#picture img{
	width: 250px;
	height: 250px;
	border-radius: 5%;
}

.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            opacity: 1.0;
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
            opacity: 1.0;
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }


.spec{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	margin-left: -18%;

}

.here{
	text-align: left;
	margin-top: 20%;
}

#picture{
	float: left;
	width: 250px;
	margin-left: 72px;
}

#stats{
	float: left;
	width: 45%;
	text-align: left;
	position: absolute;
	left: 55%;
	top:35px;

}
.clear{
	clear: both;
}

#connectionstest{
	width: 650px;
	margin: 0 auto;
}

.IN-widget{
	width: 100%;
	text-align: center;
}

#madeby{
	position: absolute;
	bottom: 5px;
	right: 20px;

}